body{
	background-color: ;
	font-family: 600px;
	background-color: ;
	
}


table{
	width: 30%;
	text-align: left;
	border-collapse: collapse;
	width: 30%;


}

th, td{
	padding: 3px;
}




input[type="submit"]{
	 text-decoration: none;
    padding: 10px;
    font-weight: 50;
    font-size: 15px;
    color: black;
    background-color: #00CED1;
    border-radius: 6px;
    border: 3px solid #0016b0;
}

h3{
	color: #F0E68C;
	border-radius: 20px;
	width: 30%;
	

}
input{
	padding: 5px;
	font-size: 15px;
	background-color: #FAEBD7;
	border: 1.2px solid #0016b0;

}
form{
	padding: 20px;
	color: #999;
	margin: 0 auto;
	width: 900px;
	border-radius: 5%;
	text-align: center;
	font-size: 1.1em;


}

